.DS_Store                                                                                                                                                                 
.buildpath
.project
.settings*
*.lock
*.log
*.o
sftp-config.json
 
*.xcodeproj
*.pbxproj
 
test.php
 
node_modules
node_modules/*
upload
upload/*
temp/
temp/*
